
.MainPage {
	position: relative;
	display: flex;
	flex-direction: column;
}

.section {
	flex-grow: 1;
	height: 100%;
	width: 100%;
	font-size: 2em;
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
}

.Intro {
	display: flex;
	padding: 10vw;
}

.IntroName {
	background-color:#ff99d5;
	background-image:
		radial-gradient(at 22% 62%, hsla(251,64%,64%,1) 0px, transparent 50%),
		radial-gradient(at 90% 39%, hsla(273,91%,62%,1) 0px, transparent 50%),
		radial-gradient(at 74% 83%, rgb(68, 108, 218) 0px, transparent 50%),
		radial-gradient(at 14% 10%, hsla(313,100%,68%,1) 0px, transparent 50%),
		radial-gradient(at 57% 16%, hsla(289,90%,67%,1) 0px, transparent 50%),
		radial-gradient(at 2% 83%, hsla(26,100%,79%,1) 0px, transparent 50%);

  	-webkit-background-clip: text;
  	color: transparent;

	background-size: 200% 100%;
	/* background-position: 0px 0px; */
	/* background-repeat: repeat-x; */

	animation: rotateName 5s linear infinite alternate;
}

.Bubbles {
	position: absolute;
	display: flex;
	z-index: -99;
	width: 100%;
	justify-content: space-around;
}

.Bubbles span {
	position: relative;
	width: 10px;
	height: 10px;
	opacity: 0.7;
	background-color: var(--purple);
	margin: 0 4px;
	border-radius: 50%;
	animation: bubbles 15s linear infinite;
	animation-duration: calc(120s / var(--i));
}


.Bubbles span:nth-child(3n+1) {
	background-color: var(--pink);
}

.Bubbles span:nth-child(3n+2) {
	background-color: var(--white);
}

.introText {
	display: flex;
	flex-direction: column;
}

.introHeading {
	font-family: raleway,system-ui;
	font-weight: 800;
	font-size: 3.5rem;
	line-height: 3rem;
	padding: 40px 0;
}

.introSubText {
	font-size: 1.5rem;
}

@keyframes bubbles {
	0% {
		transform: translateY(100vh) scale(0);
	}

	100% {
		transform: translateY(-20vh) scale(1);
	}
}

@keyframes rotateName {
    0% {
		background-position: 0 0;
	}
	33% {
		background-position: 100% 0;
	}
	66% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0 100%;
	}
}


@media (max-width: 768px) {
  .Intro {
    flex-direction: column;
  }
}
