.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 60px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	justify-content: flex-end;
	color: var(--white);
	/* background-color: var(--gray); */

	background: linear-gradient(135deg, rgba(192, 138, 255, 0.2), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    /* box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); */
}

.navbar a, a:visited {
	padding: 15px;
	color: var(--white);
	font-size: 25px;
}

.navbar a:hover {
	border-radius: 20px;
	transition-duration: 0.15s;
	background-color: #474747;
}

.sep {
	padding: 25px;
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }
}
