.app {
	display: flex;
	flex-direction: column;
	cursor: url("pointinghand.svg"), auto;
}

.content {
	display: flex;
	flex-direction:  column;
	margin-left: 60px;
}

@media (max-width: 768px) {
  .content {
    margin-left: 0;
  }
}
