:root {
	--pink: #DF00FF;
	--lavender: #BF00FF;
	--purple: #8A00FF;
	--black: #0b001c;
	--gray: #1C1C1c;
	--lightgray: #9C9CBC;
	--white: #FFFFFF;
}
html {
  scroll-behavior: smooth;
}

body {
	margin: 0px;
	background-color: var(--black);
	color: var(--white);
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: monospace, monospace;
}
